.cart-btn-wrapper{
    display: flex;
    align-items: center;
    width: 225px;
   
}

.cart-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    
  }

  .cart-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .cart-container svg{
        height: 25px;
        margin-left: 5px;
        
  }

  .cart-value {
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-grey-7);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    padding: 12px;
  }