.homepage-container {
    background-color: #fdf2f3;
    display: flex;
    flex-direction: column;
  }
  
  
  .footer-container {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-primary-3);
    text-align: center;
  }
  
  .footer-container span {
    color: var(--clr-white);
  }
  h5 {
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
  }
  