* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: left;
}

.btn-box {
  min-width: 30px;
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.btn-box:hover{
  color: blue;
}