.pt-65{
  padding-top: 65px;
}

.address-block-left{
  padding: 5px 65px 5px 350px;
}
.address-block-right{
  padding: 5px 350px 5px 65px;
}

.input-box-address{
  margin: 0px 0px 15px 0px;
  min-width: 100%;
  min-height: 40px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.add-address{
  min-width: 250px;
  margin: 20px;
  min-height: 40px;
  border-radius: 20px;
  border-color: transparent;
  background-color: darkgrey;
  transition: transform .2s;
  &:hover{
    background-color: black;
    color: white;
  }
}