.about-page-wrapper{
display: flex;
justify-content: space-evenly;
}

img {
  width: 350px;
  display: block;
  border-radius: var(--radius);
  height: 500px;
  object-fit: cover;
  margin: 20px 150px;
  align-items: center;
}

.data{
    margin:150px;
}
p {
  line-height: 2;
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--clr-grey-5);
}
.title {
  text-align: center;
}
.underline {
  margin-left: 0;
}