@import '../../colors';

$flat-fresh: rgba(250, 211, 144,1.0);

.navigation {
  list-style: none;
  margin: 0;
  position: fixed;
  opacity: 1;
  top: 0;
  z-index: 99;
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 16px 0 rgba(10, 91, 106, 0.16);
  height: inherit;
  justify-content: center;
  // padding: .5rem;
}
.item-logo{
  width: 12%;
  text-align: center;
  border: none;
  padding: 3px;
}

.item{
  width: 8%;
  text-align: center;
  border: none;
  padding: 3px;
}
.item-sub{
  width: 5%;
  height: 30px;
  border: none;
  margin: 10px;
  padding: 3px;
}

.item-first{
  width: 33.5%;
  height: 30px;
  border: none;
  margin: 10px;
  padding: 3px;
}

.item-main{
  width: 35%;
  height: 30px;
  border: none;
  margin: 10px;
  padding: 3px;
}

.item-cart{
  width: 0%;
  height: 30px;
  border: none;
  margin: 10px;
  padding: 3px;
}

@media screen and (max-width: 576px) {
  .item-first{
  width: 84%;
  
}

.navigation {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
}
}



.navigation a {
  text-decoration: none;
  display: inline;
  color: black;
}

.navigation a:hover{
  color: blue;
}

.align-right{
  align-items: right;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    padding: 2px;
  
    
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

li {
  text-decoration: none;
  display: inline;
}

.pt-100{
  padding-top: 75px;
}


body {
  margin: 0;
}

.container{
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  // width: 100%;
  // margin-top: 1px;
  height: 35px;
  border: 1px solid rgba(99, 198, 216, 0.16);
  padding-left: 10px;
  border-radius: 10px;
  background-color: var(--white);
}

.input-search-bar{
  border: none;
  width: 90%;
  padding-left: 10px;
  // padding-top:6px;
  height: 30px;
  outline: none;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.ml-150{
  margin-left: 150px;
}

.ml-40{
  margin-left: 40px;
}

.ml-10{
  margin-left: 12px;
}

li:hover{
  cursor: pointer;
  color: blue;
  
}

.profile-pic{
  border-radius: 50px;
  margin: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}