.pt-65{
  padding-top: 65px;
}

.product-img {
  width: 150px;
  height: 150px;
  margin: 20px;
  padding-left: 20px;
  border-radius: 21px;
  background-color: lightgrey;
}

.cart-total {
  width: 250px;
  min-height: 100px;
  padding-left: 20px;
  border-radius: 21px;
  background-color: lightgrey;
}

.mg-20{
  margin: 20px;
}

.increment-decrement{
  min-width: 30px;
  min-height: 10px;
}

.item-count{
  
  padding: 3px 20px 3px 20px;
  
  background-color: rgb(216, 216, 216);
}

.line{
  color: white;
  background-color: white;
  height: 5px; 
}

.btn-checkout{
  margin-top: 10px;
  width: 250px;
  height: 35px;
  border-radius: 5px;
}