.deliver-to {
  width: auto;
  height: auto;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  padding: 40px;
  margin: 40px 40px 40px 40px;
}


.payment-option {
  width: 137px;
  height: 30px;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  
}

.payment-label {
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}
